#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



/* css */


.message {
  border-radius: 5px;
  padding: 0.5em;
  --message-color-ai: #d9dede;
  --message-color-user: #F95738;
}

.message.ai {
  margin-right: 2em;
  background-color: var(--message-color-ai);
}

.message.user {
  margin-left: 2em;
  background-color: var(--message-color-user);
  color: white;
}

.input-form {
  display: flex;
}

.input-form input[type='text'] {
  margin-right: 1rem;
  flex: 1 1;
  line-height: 2;
}.message {
  /* Add padding and border radius to all messages */
  --message-color-ai: #d9dede;
  --message-color-user: #F95738;

}
.message.ai {
  margin-right: 2em;
  /* Add a background color using the --message-color-ai */
}

.message.user {
  margin-left: 2em;
  /* Add a background color using the --message-color-user */
}


.vertical {
    display: flex; /* Flex container for the form */
    }

    .vertical input {
      line-height: 2; /* Taller inputs */
      }

      .vertical input[type="text"] {
        flex-grow: 1; /* Text input fills space */
        }
